{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/computer.jpeg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Sobre Nós</h1>
                    <span class="subheading">Esse blog trate-se de compartilhamento de conehcimento, para quem busca aprender de uma maneira mais simples e prática!</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock page_header %}
{% block main %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Aprender a programar pode parecer um desafio intimidante, mas é uma jornada extremamente recompensadora. Com a crescente demanda por habilidades tecnológicas no mercado de trabalho, entender os fundamentos da programação abre portas para inúmeras oportunidades profissionais. Neste blog, exploraremos estratégias e recursos que tornarão o processo de aprendizado mais acessível e eficiente, desde os conceitos básicos até as técnicas mais avançadas.</p>
                        <p>Para quem está começando, o primeiro passo é escolher uma linguagem de programação adequada ao seu objetivo. Linguagens como Python e JavaScript são frequentemente recomendadas para iniciantes devido à sua sintaxe simples e grande comunidade de suporte. Além disso, praticar a programação diariamente e resolver pequenos desafios pode ajudar a solidificar o conhecimento. Ferramentas e plataformas online oferecem uma ampla gama de exercícios práticos que podem ser muito úteis nesse estágio inicial.</p>
                        <p>À medida que você avança no seu aprendizado, é importante diversificar suas fontes de conhecimento. Participar de projetos de código aberto, contribuir para fóruns e colaborar com outros desenvolvedores pode proporcionar uma experiência prática valiosa. Além disso, explorar áreas especializadas, como desenvolvimento web, ciência de dados ou inteligência artificial, pode ajudá-lo a encontrar um campo que realmente o apaixone. Nunca subestime o poder de uma comunidade ativa e de uma rede de contatos bem estabelecida no mundo da programação.</p>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
