{% load static %}
{% extends post.html %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawsome/style.css/css/all.css' %}">
    <title>blog</title>
</head>
<body>
    <h1>Blog Post</h1>
    <div class="publicacao">
        <h2>{{ post.title }}</h2>
        <input type="text" method="post">
    </div>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

{% endblock content %}